html {
    box-sizing: border-box;
    font-size: 150%;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    margin: 0 3px;
    line-height: 1.3;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

/* Navigation Bar */
.navbar {
    border: 2px solid black;
    height: 15vh;
    text-align: center;
    font-family: 'Oooh Baby', cursive;
}

.navbar-option {
    padding: 4vh 10vh;
    display: flex;
    justify-content: space-evenly;

}

.navbar-welcome {
    flex: 0 1 15%;
}

.navbar-menu {
    flex: 0 1 15%;
}

.navbar-contact {
    flex: 0 1 15%;
}



/* Welcome Page */
.welcome {
    height: 160vh;
    margin: 1vh 0;
}

.welcome-div1 {
    height: 80vh;
    background-image: url(../image/burger-knife.jpg);
    background-size: cover;
    background-position: 0 90%;
    background-repeat: no-repeat;
    margin-bottom: 1vh;

}

.welcome-header {
    font-family: 'Roboto Mono', monospace;
    padding-top: 4em;
    padding-left: 2em;
    color: #f2f4f3;
}

.welcome-subHeader {
    padding-top: 5vh;
    text-align: center;
    height: 20vh;
}

.welcome-div2 {
    text-align: center;
    height: 60vh;
    display: flex;
    gap:1em;
    padding:0 10vw;

}

.welcome-img1 {
    flex: 1;
    max-width: 400px;
    object-fit: cover;
    box-shadow: -10px -10px;
    border-radius: 5px;

}

.welcome-paragraph {
    flex: 1;
    align-self:baseline;

}

.welcome-img2 {
    flex: 1;
    max-width: 400px;
    object-fit: cover;
    box-shadow: 10px 10px;
    border-radius: 5px; 
}


/* Menu Page */
.menu {}

.menu-header {}

.menu-subHeader1 {}

.menu-subHeader2 {}

.menu-subHeader3 {}

.menu-subHeader4 {}


/* Contact Page */
.contact {}

.contact-header {}

.contact-form {}

.contact-name {}

.contact-mail {}

.contact-text {}

.contact-button {}


/* Footer */
.footer {
    border: 2px solid black;
    height: 15vh;
    text-align: center;
    font-family: 'Oooh Baby', cursive;
    margin: 3vh 0 1vh;
}

.footer-icons {
    display: flex;
    padding: 1vh 10vh;
    justify-content: space-evenly;
}

.footer-i {
    flex: 0 1 15%;
}

.footer-author {
    color: #888;
}