html {
    box-sizing: border-box;
    font-size: 150%;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    margin: 0 3px;

}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

/* Navigation Bar */
.navbar {
    border: 2px solid black;
    height: 15vh;
    text-align: center;
    font-family: 'Oooh Baby', cursive;
}

.navbar-option {
    padding: 4vh 10vh;
    display: flex;
    justify-content: space-evenly;

}

.navbar-welcome {
    flex: 0 1 15%;
}

.navbar-menu {
    flex: 0 1 15%;
}

.navbar-contact {
    flex: 0 1 15%;
}



/* Welcome Page */
.welcome {}

.welcome-header {}

.welcome-subHeader {}

.welcome-paragraph {}

.welcome-img {}


/* Menu Page */
.menu {}

.menu-header {}

.menu-subHeader1 {}

.menu-subHeader2 {}

.menu-subHeader3 {}

.menu-subHeader4 {}


/* Contact Page */
.contact {}

.contact-header {}

.contact-form {}

.contact-name {}

.contact-mail {}

.contact-text {}

.contact-button {}


/* Footer */
.footer {
    border: 2px solid black;
    height: 15vh;
    text-align: center;
    font-family: 'Oooh Baby', cursive;
}

.footer-icons {
    display: flex;

    padding: 1vh 10vh;
    justify-content: space-evenly;
}

.footer-i {
    flex: 0 1 15%;
}

.footer-author {
    color: #888;
}